AuditfileAfrekensystemenVersie3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML Definition of message hierarchy                                              -->
<!-- Message:             XML Auditfile Afrekensystemen 3.0                           -->
<!-- Transaction:         AA - Auditfile                                              -->
<!-- Datamodel:           XML Auditfile, version 1.0                                  -->
<!-- Definition type:     W3C Schema (http://www.w3.org/XML/Schema)                   -->
<!-- XML tagset used:     Standard XML                                                -->
<!-- Generated at:        15-12-2008 11:08:54                                         -->
<!-- Generated using:     EC-Design 1.4.3b (http://www.ec-design.nl)                  -->
<!-- Generated by:        Jan Vrijenhoek                                              -->
<!-- Organisation:        Branche Initiatieven b.v. (Abz)                             -->
<!-- NOTE:    This schema was generated automatically: manual modifications will be lost -->
<!-- NOTE:    Additional rules/conditions regarding the definition may exist, see functional hierarchical specification -->
<xsd:schema targetNamespace="http://www.auditfiles.nl/XAA/3.0" xmlns:xaa="http://www.auditfiles.nl/XAA/3.0" xmlns="http://www.auditfiles.nl/XAA/3.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:str="http://www.ec-design.nl/Abz/BCPP/1.0/structures" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:element name="auditfile">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="header">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="startDate">
								<xsd:simpleType>
									<xsd:restriction base="xsd:date"/>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="endDate">
								<xsd:simpleType>
									<xsd:restriction base="xsd:date"/>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="curCode" type="currencyCodeType"/>
							<xsd:element name="dateCreated">
								<xsd:simpleType>
									<xsd:restriction base="xsd:date"/>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="company">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="companyIdent" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="35"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="companyName">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="9999"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="taxRegistrationCountry" type="countryCodeType"/>
							<xsd:element name="taxRegIdent">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="30"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="streetAddress" type="addressType" minOccurs="0" maxOccurs="unbounded"/>
							<xsd:element name="postalAddress" type="addressType" minOccurs="0" maxOccurs="unbounded"/>
							<xsd:element name="customersSuppliers" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="customerSupplier" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="custSupID">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="35"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="contact" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="50"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="telephone" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="30"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="fax" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="30"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="eMail" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="255"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="website" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="255"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="taxRegistrationCountry" type="countryCodeType"/>
													<xsd:element name="taxRegIdent" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="30"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="streetAddress" type="addressType" minOccurs="0" maxOccurs="unbounded"/>
													<xsd:element name="postalAddress" type="addressType" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="generalLedger" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ledgerAccount" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="accID">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="35"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="accDesc">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="999"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="accTp">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="2"/>
																<xsd:enumeration value="B"/>
																<xsd:enumeration value="M"/>
																<xsd:enumeration value="P"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="taxonomies" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="taxonomy" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="taxoRef">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="9999"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="taxoElement" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="txCd">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="999"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="txClusCd" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="999"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="txClusCtxtID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="999"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="glAccID">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="basics" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="basic" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="basicType">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:length value="2"/>
																			<xsd:enumeration value="02"/>
																			<xsd:enumeration value="03"/>
																			<xsd:enumeration value="04"/>
																			<xsd:enumeration value="05"/>
																			<xsd:enumeration value="06"/>
																			<xsd:enumeration value="07"/>
																			<xsd:enumeration value="08"/>
																			<xsd:enumeration value="09"/>
																			<xsd:enumeration value="10"/>
																			<xsd:enumeration value="11"/>
																			<xsd:enumeration value="12"/>
																			<xsd:enumeration value="13"/>
																			<xsd:enumeration value="14"/>
																			<xsd:enumeration value="15"/>
																			<xsd:enumeration value="16"/>
																			<xsd:enumeration value="17"/>
																			<xsd:enumeration value="18"/>
																			<xsd:enumeration value="19"/>
																			<xsd:enumeration value="20"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="basicID">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="35"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="predefinedBasicID" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="5"/>
																			<xsd:enumeration value="16001"/>
																			<xsd:enumeration value="16002"/>
																			<xsd:enumeration value="16003"/>
																			<xsd:enumeration value="16004"/>
																			<xsd:enumeration value="16005"/>
																			<xsd:enumeration value="16006"/>
																			<xsd:enumeration value="16007"/>
																			<xsd:enumeration value="16008"/>
																			<xsd:enumeration value="16009"/>
																			<xsd:enumeration value="16010"/>
																			<xsd:enumeration value="16011"/>
																			<xsd:enumeration value="16012"/>
																			<xsd:enumeration value="16013"/>
																			<xsd:enumeration value="16014"/>
																			<xsd:enumeration value="16999"/>
																			<xsd:enumeration value="17001"/>
																			<xsd:enumeration value="17002"/>
																			<xsd:enumeration value="17003"/>
																			<xsd:enumeration value="17004"/>
																			<xsd:enumeration value="17005"/>
																			<xsd:enumeration value="17006"/>
																			<xsd:enumeration value="17007"/>
																			<xsd:enumeration value="17008"/>
																			<xsd:enumeration value="17009"/>
																			<xsd:enumeration value="17999"/>
																			<xsd:enumeration value="18001"/>
																			<xsd:enumeration value="18002"/>
																			<xsd:enumeration value="18003"/>
																			<xsd:enumeration value="18004"/>
																			<xsd:enumeration value="18005"/>
																			<xsd:enumeration value="18006"/>
																			<xsd:enumeration value="18007"/>
																			<xsd:enumeration value="18008"/>
																			<xsd:enumeration value="18009"/>
																			<xsd:enumeration value="18010"/>
																			<xsd:enumeration value="18999"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="basicDesc">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="9999"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="employees" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="employee" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="empID">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="35"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="dateOfEntry">
														<xsd:simpleType>
															<xsd:restriction base="xsd:date"/>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="timeOfEntry">
														<xsd:simpleType>
															<xsd:restriction base="xsd:time"/>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="firstName" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="30"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="surname">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="999"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="employeeRole" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="roleType">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="15"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="articles" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="article" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="artID">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="35"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="dateOfEntry">
														<xsd:simpleType>
															<xsd:restriction base="xsd:date"/>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="artGroupID" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="35"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="artDesc">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="999"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="location" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="name" minOccurs="0">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="100"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="streetAddress" type="addressType" minOccurs="0"/>
										<xsd:element name="basics" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="basic" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="basicType">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:length value="2"/>
																			<xsd:enumeration value="02"/>
																			<xsd:enumeration value="03"/>
																			<xsd:enumeration value="04"/>
																			<xsd:enumeration value="05"/>
																			<xsd:enumeration value="06"/>
																			<xsd:enumeration value="07"/>
																			<xsd:enumeration value="08"/>
																			<xsd:enumeration value="09"/>
																			<xsd:enumeration value="10"/>
																			<xsd:enumeration value="11"/>
																			<xsd:enumeration value="12"/>
																			<xsd:enumeration value="13"/>
																			<xsd:enumeration value="14"/>
																			<xsd:enumeration value="15"/>
																			<xsd:enumeration value="16"/>
																			<xsd:enumeration value="17"/>
																			<xsd:enumeration value="18"/>
																			<xsd:enumeration value="19"/>
																			<xsd:enumeration value="20"/>
																			<xsd:enumeration value="21"/>
																			<xsd:enumeration value="22"/>
																			<xsd:enumeration value="23"/>
																			<xsd:enumeration value="24"/>
																			<xsd:enumeration value="25"/>
																			<xsd:enumeration value="26"/>
																			<xsd:enumeration value="27"/>
																			<xsd:enumeration value="28"/>
																			<xsd:enumeration value="29"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="basicID">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="35"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="predefinedBasicID" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="5"/>
																			<xsd:enumeration value="16001"/>
																			<xsd:enumeration value="16002"/>
																			<xsd:enumeration value="16003"/>
																			<xsd:enumeration value="16004"/>
																			<xsd:enumeration value="16005"/>
																			<xsd:enumeration value="16006"/>
																			<xsd:enumeration value="16007"/>
																			<xsd:enumeration value="16008"/>
																			<xsd:enumeration value="16009"/>
																			<xsd:enumeration value="16010"/>
																			<xsd:enumeration value="16011"/>
																			<xsd:enumeration value="16012"/>
																			<xsd:enumeration value="16013"/>
																			<xsd:enumeration value="16014"/>
																			<xsd:enumeration value="16999"/>
																			<xsd:enumeration value="17001"/>
																			<xsd:enumeration value="17002"/>
																			<xsd:enumeration value="17003"/>
																			<xsd:enumeration value="17004"/>
																			<xsd:enumeration value="17005"/>
																			<xsd:enumeration value="17006"/>
																			<xsd:enumeration value="17007"/>
																			<xsd:enumeration value="17008"/>
																			<xsd:enumeration value="17009"/>
																			<xsd:enumeration value="17999"/>
																			<xsd:enumeration value="18001"/>
																			<xsd:enumeration value="18002"/>
																			<xsd:enumeration value="18003"/>
																			<xsd:enumeration value="18004"/>
																			<xsd:enumeration value="18005"/>
																			<xsd:enumeration value="18006"/>
																			<xsd:enumeration value="18007"/>
																			<xsd:enumeration value="18008"/>
																			<xsd:enumeration value="18009"/>
																			<xsd:enumeration value="18010"/>
																			<xsd:enumeration value="18999"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="basicDesc">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="9999"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="cashregister" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="registerID">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="35"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="event" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="eventID">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="35"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="eventType">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="15"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="transID" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="35"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="empID">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="35"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="eventDate">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:date"/>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="eventTime">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:time"/>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="eventText" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="9999"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="cashtransaction" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="transID">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="35"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="transAmntIn">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:decimal">
																			<xsd:totalDigits value="20"/>
																			<xsd:fractionDigits value="2"/>
																			<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="transAmntEx">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:decimal">
																			<xsd:totalDigits value="20"/>
																			<xsd:fractionDigits value="2"/>
																			<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="empID" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="35"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="custSupID" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="35"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="transDate">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:date"/>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="transTime">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:time"/>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="invoiceID" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="35"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="refID" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="9999"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="ctLine" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="lineID">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="lineType">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="15"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="artGroupID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="artID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="qnt" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:decimal">
																						<xsd:totalDigits value="20"/>
																						<xsd:fractionDigits value="6"/>
																						<xsd:minInclusive value="0.000000"/>
																						<xsd:pattern value="[0-9]{1,14}[.][0-9]{6}"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="lineAmntIn">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:decimal">
																						<xsd:totalDigits value="20"/>
																						<xsd:fractionDigits value="2"/>
																						<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="lineAmntEx">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:decimal">
																						<xsd:totalDigits value="20"/>
																						<xsd:fractionDigits value="2"/>
																						<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="ppu" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:decimal">
																						<xsd:totalDigits value="20"/>
																						<xsd:fractionDigits value="6"/>
																						<xsd:minInclusive value="0.000000"/>
																						<xsd:pattern value="[0-9]{1,14}[.][0-9]{6}"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="costPrice" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:decimal">
																						<xsd:totalDigits value="20"/>
																						<xsd:fractionDigits value="2"/>
																						<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="empID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="lineAmntInAccID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="stockAccID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="costPriceAccID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="cashTransLineDescr" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="9999"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="lineDate" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:date"/>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="lineTime" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:time"/>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="vat" minOccurs="0">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="vatCode" minOccurs="0">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:string">
																									<xsd:maxLength value="15"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>
																						<xsd:element name="vatPerc" minOccurs="0">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:decimal">
																									<xsd:totalDigits value="8"/>
																									<xsd:fractionDigits value="3"/>
																									<xsd:minInclusive value="0.000"/>
																									<xsd:pattern value="[0-9]{1,5}[.][0-9]{3}"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>
																						<xsd:element name="vatAmnt">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:decimal">
																									<xsd:totalDigits value="20"/>
																									<xsd:fractionDigits value="2"/>
																									<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>
																						<xsd:element name="accID" minOccurs="0">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:string">
																									<xsd:maxLength value="35"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="savings" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="savingsType">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:string">
																									<xsd:maxLength value="15"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>
																						<xsd:element name="savingsUnits">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:nonNegativeInteger">
																									<xsd:totalDigits value="10"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>
																						<xsd:element name="empID" minOccurs="0">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:string">
																									<xsd:maxLength value="35"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>
																						<xsd:element name="accID" minOccurs="0">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:string">
																									<xsd:maxLength value="35"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="discount" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="dscTp">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:string">
																									<xsd:maxLength value="15"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>
																						<xsd:element name="dscAmnt">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:decimal">
																									<xsd:totalDigits value="20"/>
																									<xsd:fractionDigits value="2"/>
																									<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>
																						<xsd:element name="empID" minOccurs="0">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:string">
																									<xsd:maxLength value="35"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>
																						<xsd:element name="accID" minOccurs="0">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:string">
																									<xsd:maxLength value="35"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="raise" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="raiseType">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:string">
																									<xsd:maxLength value="15"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>
																						<xsd:element name="raiseAmnt">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:decimal">
																									<xsd:totalDigits value="20"/>
																									<xsd:fractionDigits value="2"/>
																									<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>
																						<xsd:element name="empID" minOccurs="0">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:string">
																									<xsd:maxLength value="35"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>
																						<xsd:element name="accID" minOccurs="0">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:string">
																									<xsd:maxLength value="35"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="vat" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="vatCode" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="15"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="vatPerc" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:decimal">
																						<xsd:totalDigits value="8"/>
																						<xsd:fractionDigits value="3"/>
																						<xsd:minInclusive value="0.000"/>
																						<xsd:pattern value="[0-9]{1,5}[.][0-9]{3}"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="vatAmnt">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:decimal">
																						<xsd:totalDigits value="20"/>
																						<xsd:fractionDigits value="2"/>
																						<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="accID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="savings" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="savingsType">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="15"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="savingsUnits">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:nonNegativeInteger">
																						<xsd:totalDigits value="10"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="empID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="accID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="discount" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="dscTp">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="15"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="dscAmnt">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:decimal">
																						<xsd:totalDigits value="20"/>
																						<xsd:fractionDigits value="2"/>
																						<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="empID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="accID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="raise" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="raiseType">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="15"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="raiseAmnt">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:decimal">
																						<xsd:totalDigits value="20"/>
																						<xsd:fractionDigits value="2"/>
																						<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="empID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="accID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="rounding" minOccurs="0">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="roundingAmnt" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:decimal">
																						<xsd:totalDigits value="20"/>
																						<xsd:fractionDigits value="2"/>
																						<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="accID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="payment" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="paymentType">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="15"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="paidAmnt">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:decimal">
																						<xsd:totalDigits value="20"/>
																						<xsd:fractionDigits value="2"/>
																						<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="empID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="curCode" type="currencyCodeType"/>
																			<xsd:element name="exchRt" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:decimal">
																						<xsd:totalDigits value="20"/>
																						<xsd:fractionDigits value="6"/>
																						<xsd:minInclusive value="0.000000"/>
																						<xsd:pattern value="[0-9]{1,14}[.][0-9]{6}"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="accID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:key name="accountIDKey">
			<xsd:selector xpath="./xaa:company/xaa:generalLedger/xaa:ledgerAccount"/>
			<xsd:field xpath="xaa:accID"/>
		</xsd:key>
		<xsd:keyref name="ctVatAccountIDRef" refer="accountIDKey">
			<xsd:selector xpath="./xaa:company/xaa:location/xaa:cashregister/xaa:cashtransaction/xaa:vat"/>
			<xsd:field xpath="xaa:accID"/>
		</xsd:keyref>
		<xsd:keyref name="ctSavingsAccountIDRef" refer="accountIDKey">
			<xsd:selector xpath="./xaa:company/xaa:location/xaa:cashregister/xaa:cashtransaction/xaa:savings"/>
			<xsd:field xpath="xaa:accID"/>
		</xsd:keyref>
		<xsd:keyref name="ctDiscountAccountIDRef" refer="accountIDKey">
			<xsd:selector xpath="./xaa:company/xaa:location/xaa:cashregister/xaa:cashtransaction/xaa:discount"/>
			<xsd:field xpath="xaa:accID"/>
		</xsd:keyref>
		<xsd:keyref name="ctRaiseAccountIDRef" refer="accountIDKey">
			<xsd:selector xpath="./xaa:company/xaa:location/xaa:cashregister/xaa:cashtransaction/xaa:raise"/>
			<xsd:field xpath="xaa:accID"/>
		</xsd:keyref>
		<xsd:keyref name="ctRoundingAccountIDRef" refer="accountIDKey">
			<xsd:selector xpath="./xaa:company/xaa:location/xaa:cashregister/xaa:cashtransaction/xaa:rounding"/>
			<xsd:field xpath="xaa:accID"/>
		</xsd:keyref>
		<xsd:keyref name="ctPaymentAccountIDRef" refer="accountIDKey">
			<xsd:selector xpath="./xaa:company/xaa:location/xaa:cashregister/xaa:cashtransaction/xaa:payment"/>
			<xsd:field xpath="xaa:accID"/>
		</xsd:keyref>
		<xsd:keyref name="ctlVatAccountIDRef" refer="accountIDKey">
			<xsd:selector xpath="./xaa:company/xaa:location/xaa:cashregister/xaa:cashtransaction/xaa:ctLine/xaa:vat"/>
			<xsd:field xpath="xaa:accID"/>
		</xsd:keyref>
		<xsd:keyref name="ctlSavingsAccountIDRef" refer="accountIDKey">
			<xsd:selector xpath="./xaa:company/xaa:location/xaa:cashregister/xaa:cashtransaction/xaa:ctLine/xaa:savings"/>
			<xsd:field xpath="xaa:accID"/>
		</xsd:keyref>
		<xsd:keyref name="ctlDiscountAccountIDRef" refer="accountIDKey">
			<xsd:selector xpath="./xaa:company/xaa:location/xaa:cashregister/xaa:cashtransaction/xaa:ctLine/xaa:discount"/>
			<xsd:field xpath="xaa:accID"/>
		</xsd:keyref>
		<xsd:keyref name="ctlRaiseAccountIDRef" refer="accountIDKey">
			<xsd:selector xpath="./xaa:company/xaa:location/xaa:cashregister/xaa:cashtransaction/xaa:ctLine/xaa:raise"/>
			<xsd:field xpath="xaa:accID"/>
		</xsd:keyref>
		<xsd:keyref name="ctlAmntInAccountIDRef" refer="accountIDKey">
			<xsd:selector xpath="./xaa:company/xaa:location/xaa:cashregister/xaa:cashtransaction/xaa:ctLine"/>
			<xsd:field xpath="xaa:lineAmntInAccID"/>
		</xsd:keyref>
		<xsd:keyref name="ctlStockAccountIDRef" refer="accountIDKey">
			<xsd:selector xpath="./xaa:company/xaa:location/xaa:cashregister/xaa:cashtransaction/xaa:ctLine"/>
			<xsd:field xpath="xaa:stockAccID"/>
		</xsd:keyref>
		<xsd:keyref name="ctlCostPriceAccountIDRef" refer="accountIDKey">
			<xsd:selector xpath="./xaa:company/xaa:location/xaa:cashregister/xaa:cashtransaction/xaa:ctLine"/>
			<xsd:field xpath="xaa:costPriceAccID"/>
		</xsd:keyref>
		<xsd:key name="companyBasicIDKey">
			<xsd:selector xpath="./xaa:company/xaa:generalLedger/xaa:basics/xaa:basic"/>
			<xsd:field xpath="xaa:basicID"/>
		</xsd:key>
		<xsd:key name="locBasicIDKey">
			<xsd:selector xpath="./xaa:company/xaa:location/xaa:basics/xaa:basic"/>
			<xsd:field xpath="xaa:basicID"/>
		</xsd:key>
		<xsd:keyref name="eventBasicIDRef" refer="locBasicIDKey">
			<xsd:selector xpath="./xaa:company/xaa:location/xaa:cashregister/xaa:event"/>
			<xsd:field xpath="xaa:eventType"/>
		</xsd:keyref>
		<xsd:keyref name="transBasicIDRef" refer="locBasicIDKey">
			<xsd:selector xpath="./xaa:company/xaa:location/xaa:cashregister/xaa:cashtransaction/xaa:ctLine"/>
			<xsd:field xpath="xaa:lineType"/>
		</xsd:keyref>
		<xsd:key name="empIDKey">
			<xsd:selector xpath="./xaa:company/xaa:employees/xaa:employee"/>
			<xsd:field xpath="xaa:empID"/>
		</xsd:key>
		<xsd:keyref name="eventEmpIDRef" refer="empIDKey">
			<xsd:selector xpath="./xaa:company/xaa:location/xaa:cashregister/xaa:event"/>
			<xsd:field xpath="xaa:empID"/>
		</xsd:keyref>
		<xsd:keyref name="ctEmpIDRef" refer="empIDKey">
			<xsd:selector xpath="./xaa:company/xaa:location/xaa:cashregister/xaa:cashtransaction"/>
			<xsd:field xpath="xaa:empID"/>
		</xsd:keyref>
		<xsd:keyref name="ctlEmpIDRef" refer="empIDKey">
			<xsd:selector xpath="./xaa:company/xaa:location/xaa:cashregister/xaa:cashtransaction/xaa:ctLine"/>
			<xsd:field xpath="xaa:empID"/>
		</xsd:keyref>
		<xsd:key name="artIDKey">
			<xsd:selector xpath="./xaa:company/xaa:articles/xaa:article"/>
			<xsd:field xpath="xaa:artID"/>
		</xsd:key>
		<xsd:keyref name="ctlArtIDRef" refer="artIDKey">
			<xsd:selector xpath="./xaa:company/xaa:location/xaa:cashregister/xaa:cashtransaction/xaa:ctLine"/>
			<xsd:field xpath="xaa:artID"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:simpleType name="currencyCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="3"/>
			<xsd:pattern value="\D*"/>
			<xsd:enumeration value="AED"/>
			<xsd:enumeration value="AFA"/>
			<xsd:enumeration value="ALL"/>
			<xsd:enumeration value="AMD"/>
			<xsd:enumeration value="ANG"/>
			<xsd:enumeration value="AOA"/>
			<xsd:enumeration value="ARS"/>
			<xsd:enumeration value="AUD"/>
			<xsd:enumeration value="AWG"/>
			<xsd:enumeration value="AZM"/>
			<xsd:enumeration value="BAM"/>
			<xsd:enumeration value="BBD"/>
			<xsd:enumeration value="BDT"/>
			<xsd:enumeration value="BGN"/>
			<xsd:enumeration value="BHD"/>
			<xsd:enumeration value="BIF"/>
			<xsd:enumeration value="BMD"/>
			<xsd:enumeration value="BND"/>
			<xsd:enumeration value="BOB"/>
			<xsd:enumeration value="BRL"/>
			<xsd:enumeration value="BSD"/>
			<xsd:enumeration value="BTN"/>
			<xsd:enumeration value="BWP"/>
			<xsd:enumeration value="BYR"/>
			<xsd:enumeration value="BZD"/>
			<xsd:enumeration value="CAD"/>
			<xsd:enumeration value="CDF"/>
			<xsd:enumeration value="CHF"/>
			<xsd:enumeration value="CLP"/>
			<xsd:enumeration value="CNY"/>
			<xsd:enumeration value="COP"/>
			<xsd:enumeration value="CRC"/>
			<xsd:enumeration value="CSD"/>
			<xsd:enumeration value="CUP"/>
			<xsd:enumeration value="CVE"/>
			<xsd:enumeration value="CYP"/>
			<xsd:enumeration value="CZK"/>
			<xsd:enumeration value="DJF"/>
			<xsd:enumeration value="DKK"/>
			<xsd:enumeration value="DOP"/>
			<xsd:enumeration value="DZD"/>
			<xsd:enumeration value="EEK"/>
			<xsd:enumeration value="EGP"/>
			<xsd:enumeration value="ERN"/>
			<xsd:enumeration value="ETB"/>
			<xsd:enumeration value="EUR"/>
			<xsd:enumeration value="FJD"/>
			<xsd:enumeration value="FKP"/>
			<xsd:enumeration value="GBP"/>
			<xsd:enumeration value="GEL"/>
			<xsd:enumeration value="GGP"/>
			<xsd:enumeration value="GHC"/>
			<xsd:enumeration value="GIP"/>
			<xsd:enumeration value="GMD"/>
			<xsd:enumeration value="GNF"/>
			<xsd:enumeration value="GTQ"/>
			<xsd:enumeration value="GYD"/>
			<xsd:enumeration value="HKD"/>
			<xsd:enumeration value="HNL"/>
			<xsd:enumeration value="HRK"/>
			<xsd:enumeration value="HTG"/>
			<xsd:enumeration value="HUF"/>
			<xsd:enumeration value="IDR"/>
			<xsd:enumeration value="ILS"/>
			<xsd:enumeration value="IMP"/>
			<xsd:enumeration value="INR"/>
			<xsd:enumeration value="IQD"/>
			<xsd:enumeration value="IRR"/>
			<xsd:enumeration value="ISK"/>
			<xsd:enumeration value="JEP"/>
			<xsd:enumeration value="JMD"/>
			<xsd:enumeration value="JOD"/>
			<xsd:enumeration value="JPY"/>
			<xsd:enumeration value="KES"/>
			<xsd:enumeration value="KGS"/>
			<xsd:enumeration value="KHR"/>
			<xsd:enumeration value="KMF"/>
			<xsd:enumeration value="KPW"/>
			<xsd:enumeration value="KRW"/>
			<xsd:enumeration value="KWD"/>
			<xsd:enumeration value="KYD"/>
			<xsd:enumeration value="KZT"/>
			<xsd:enumeration value="LAK"/>
			<xsd:enumeration value="LBP"/>
			<xsd:enumeration value="LKR"/>
			<xsd:enumeration value="LRD"/>
			<xsd:enumeration value="LSL"/>
			<xsd:enumeration value="LTL"/>
			<xsd:enumeration value="LVL"/>
			<xsd:enumeration value="LYD"/>
			<xsd:enumeration value="MAD"/>
			<xsd:enumeration value="MDL"/>
			<xsd:enumeration value="MGA"/>
			<xsd:enumeration value="MKD"/>
			<xsd:enumeration value="MMK"/>
			<xsd:enumeration value="MNT"/>
			<xsd:enumeration value="MOP"/>
			<xsd:enumeration value="MRO"/>
			<xsd:enumeration value="MTL"/>
			<xsd:enumeration value="MUR"/>
			<xsd:enumeration value="MVR"/>
			<xsd:enumeration value="MWK"/>
			<xsd:enumeration value="MXN"/>
			<xsd:enumeration value="MYR"/>
			<xsd:enumeration value="MZM"/>
			<xsd:enumeration value="NAD"/>
			<xsd:enumeration value="NGN"/>
			<xsd:enumeration value="NIO"/>
			<xsd:enumeration value="NOK"/>
			<xsd:enumeration value="NPR"/>
			<xsd:enumeration value="NZD"/>
			<xsd:enumeration value="OMR"/>
			<xsd:enumeration value="PAB"/>
			<xsd:enumeration value="PEN"/>
			<xsd:enumeration value="PGK"/>
			<xsd:enumeration value="PHP"/>
			<xsd:enumeration value="PKR"/>
			<xsd:enumeration value="PLN"/>
			<xsd:enumeration value="PYG"/>
			<xsd:enumeration value="QAR"/>
			<xsd:enumeration value="ROL"/>
			<xsd:enumeration value="RUR"/>
			<xsd:enumeration value="RWF"/>
			<xsd:enumeration value="SAR"/>
			<xsd:enumeration value="SBD"/>
			<xsd:enumeration value="SCR"/>
			<xsd:enumeration value="SDD"/>
			<xsd:enumeration value="SEK"/>
			<xsd:enumeration value="SGD"/>
			<xsd:enumeration value="SHP"/>
			<xsd:enumeration value="SIT"/>
			<xsd:enumeration value="SKK"/>
			<xsd:enumeration value="SLL"/>
			<xsd:enumeration value="SOS"/>
			<xsd:enumeration value="SPL"/>
			<xsd:enumeration value="SRD"/>
			<xsd:enumeration value="STD"/>
			<xsd:enumeration value="SVC"/>
			<xsd:enumeration value="SYP"/>
			<xsd:enumeration value="SZL"/>
			<xsd:enumeration value="THB"/>
			<xsd:enumeration value="TJS"/>
			<xsd:enumeration value="TMM"/>
			<xsd:enumeration value="TND"/>
			<xsd:enumeration value="TOP"/>
			<xsd:enumeration value="TRL"/>
			<xsd:enumeration value="TTD"/>
			<xsd:enumeration value="TVD"/>
			<xsd:enumeration value="TWD"/>
			<xsd:enumeration value="TZS"/>
			<xsd:enumeration value="UAH"/>
			<xsd:enumeration value="UGX"/>
			<xsd:enumeration value="USD"/>
			<xsd:enumeration value="UYU"/>
			<xsd:enumeration value="UZS"/>
			<xsd:enumeration value="VEB"/>
			<xsd:enumeration value="VND"/>
			<xsd:enumeration value="VUV"/>
			<xsd:enumeration value="WST"/>
			<xsd:enumeration value="XAF"/>
			<xsd:enumeration value="XCD"/>
			<xsd:enumeration value="XOF"/>
			<xsd:enumeration value="XPF"/>
			<xsd:enumeration value="YER"/>
			<xsd:enumeration value="ZAR"/>
			<xsd:enumeration value="ZMK"/>
			<xsd:enumeration value="ZWD"/>
			<xsd:enumeration value="ZZZ"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="countryCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:pattern value="\D*"/>
			<xsd:enumeration value="AD"/>
			<xsd:enumeration value="AE"/>
			<xsd:enumeration value="AF"/>
			<xsd:enumeration value="AG"/>
			<xsd:enumeration value="AI"/>
			<xsd:enumeration value="AL"/>
			<xsd:enumeration value="AM"/>
			<xsd:enumeration value="AN"/>
			<xsd:enumeration value="AO"/>
			<xsd:enumeration value="AQ"/>
			<xsd:enumeration value="AR"/>
			<xsd:enumeration value="AS"/>
			<xsd:enumeration value="AT"/>
			<xsd:enumeration value="AU"/>
			<xsd:enumeration value="AW"/>
			<xsd:enumeration value="AZ"/>
			<xsd:enumeration value="BA"/>
			<xsd:enumeration value="BB"/>
			<xsd:enumeration value="BD"/>
			<xsd:enumeration value="BE"/>
			<xsd:enumeration value="BF"/>
			<xsd:enumeration value="BG"/>
			<xsd:enumeration value="BH"/>
			<xsd:enumeration value="BI"/>
			<xsd:enumeration value="BJ"/>
			<xsd:enumeration value="BM"/>
			<xsd:enumeration value="BN"/>
			<xsd:enumeration value="BO"/>
			<xsd:enumeration value="BR"/>
			<xsd:enumeration value="BS"/>
			<xsd:enumeration value="BT"/>
			<xsd:enumeration value="BV"/>
			<xsd:enumeration value="BW"/>
			<xsd:enumeration value="BY"/>
			<xsd:enumeration value="BZ"/>
			<xsd:enumeration value="CA"/>
			<xsd:enumeration value="CC"/>
			<xsd:enumeration value="CD"/>
			<xsd:enumeration value="CF"/>
			<xsd:enumeration value="CG"/>
			<xsd:enumeration value="CH"/>
			<xsd:enumeration value="CI"/>
			<xsd:enumeration value="CK"/>
			<xsd:enumeration value="CL"/>
			<xsd:enumeration value="CM"/>
			<xsd:enumeration value="CN"/>
			<xsd:enumeration value="CO"/>
			<xsd:enumeration value="CR"/>
			<xsd:enumeration value="CS"/>
			<xsd:enumeration value="CU"/>
			<xsd:enumeration value="CV"/>
			<xsd:enumeration value="CX"/>
			<xsd:enumeration value="CY"/>
			<xsd:enumeration value="CZ"/>
			<xsd:enumeration value="DE"/>
			<xsd:enumeration value="DJ"/>
			<xsd:enumeration value="DK"/>
			<xsd:enumeration value="DM"/>
			<xsd:enumeration value="DO"/>
			<xsd:enumeration value="DZ"/>
			<xsd:enumeration value="EC"/>
			<xsd:enumeration value="EE"/>
			<xsd:enumeration value="EG"/>
			<xsd:enumeration value="EH"/>
			<xsd:enumeration value="ER"/>
			<xsd:enumeration value="ES"/>
			<xsd:enumeration value="ET"/>
			<xsd:enumeration value="FI"/>
			<xsd:enumeration value="FJ"/>
			<xsd:enumeration value="FK"/>
			<xsd:enumeration value="FM"/>
			<xsd:enumeration value="FO"/>
			<xsd:enumeration value="FR"/>
			<xsd:enumeration value="GA"/>
			<xsd:enumeration value="GB"/>
			<xsd:enumeration value="GD"/>
			<xsd:enumeration value="GE"/>
			<xsd:enumeration value="GF"/>
			<xsd:enumeration value="GH"/>
			<xsd:enumeration value="GI"/>
			<xsd:enumeration value="GL"/>
			<xsd:enumeration value="GM"/>
			<xsd:enumeration value="GN"/>
			<xsd:enumeration value="GP"/>
			<xsd:enumeration value="GQ"/>
			<xsd:enumeration value="GR"/>
			<xsd:enumeration value="GS"/>
			<xsd:enumeration value="GT"/>
			<xsd:enumeration value="GU"/>
			<xsd:enumeration value="GW"/>
			<xsd:enumeration value="GY"/>
			<xsd:enumeration value="HK"/>
			<xsd:enumeration value="HM"/>
			<xsd:enumeration value="HN"/>
			<xsd:enumeration value="HR"/>
			<xsd:enumeration value="HT"/>
			<xsd:enumeration value="HU"/>
			<xsd:enumeration value="ID"/>
			<xsd:enumeration value="IE"/>
			<xsd:enumeration value="IL"/>
			<xsd:enumeration value="IM"/>
			<xsd:enumeration value="IN"/>
			<xsd:enumeration value="IO"/>
			<xsd:enumeration value="IQ"/>
			<xsd:enumeration value="IR"/>
			<xsd:enumeration value="IS"/>
			<xsd:enumeration value="IT"/>
			<xsd:enumeration value="JM"/>
			<xsd:enumeration value="JO"/>
			<xsd:enumeration value="JP"/>
			<xsd:enumeration value="KE"/>
			<xsd:enumeration value="KG"/>
			<xsd:enumeration value="KH"/>
			<xsd:enumeration value="KI"/>
			<xsd:enumeration value="KM"/>
			<xsd:enumeration value="KN"/>
			<xsd:enumeration value="KP"/>
			<xsd:enumeration value="KR"/>
			<xsd:enumeration value="KW"/>
			<xsd:enumeration value="KY"/>
			<xsd:enumeration value="KZ"/>
			<xsd:enumeration value="LA"/>
			<xsd:enumeration value="LB"/>
			<xsd:enumeration value="LC"/>
			<xsd:enumeration value="LI"/>
			<xsd:enumeration value="LK"/>
			<xsd:enumeration value="LR"/>
			<xsd:enumeration value="LS"/>
			<xsd:enumeration value="LT"/>
			<xsd:enumeration value="LU"/>
			<xsd:enumeration value="LV"/>
			<xsd:enumeration value="LY"/>
			<xsd:enumeration value="MA"/>
			<xsd:enumeration value="MC"/>
			<xsd:enumeration value="MD"/>
			<xsd:enumeration value="MG"/>
			<xsd:enumeration value="MH"/>
			<xsd:enumeration value="MK"/>
			<xsd:enumeration value="ML"/>
			<xsd:enumeration value="MM"/>
			<xsd:enumeration value="MN"/>
			<xsd:enumeration value="MO"/>
			<xsd:enumeration value="MP"/>
			<xsd:enumeration value="MQ"/>
			<xsd:enumeration value="MR"/>
			<xsd:enumeration value="MS"/>
			<xsd:enumeration value="MT"/>
			<xsd:enumeration value="MU"/>
			<xsd:enumeration value="MV"/>
			<xsd:enumeration value="MW"/>
			<xsd:enumeration value="MX"/>
			<xsd:enumeration value="MY"/>
			<xsd:enumeration value="MZ"/>
			<xsd:enumeration value="NA"/>
			<xsd:enumeration value="NC"/>
			<xsd:enumeration value="NE"/>
			<xsd:enumeration value="NF"/>
			<xsd:enumeration value="NG"/>
			<xsd:enumeration value="NI"/>
			<xsd:enumeration value="NL"/>
			<xsd:enumeration value="NO"/>
			<xsd:enumeration value="NP"/>
			<xsd:enumeration value="NR"/>
			<xsd:enumeration value="NU"/>
			<xsd:enumeration value="NZ"/>
			<xsd:enumeration value="OM"/>
			<xsd:enumeration value="PA"/>
			<xsd:enumeration value="PE"/>
			<xsd:enumeration value="PF"/>
			<xsd:enumeration value="PG"/>
			<xsd:enumeration value="PH"/>
			<xsd:enumeration value="PK"/>
			<xsd:enumeration value="PL"/>
			<xsd:enumeration value="PM"/>
			<xsd:enumeration value="PN"/>
			<xsd:enumeration value="PR"/>
			<xsd:enumeration value="PS"/>
			<xsd:enumeration value="PT"/>
			<xsd:enumeration value="PW"/>
			<xsd:enumeration value="PY"/>
			<xsd:enumeration value="QA"/>
			<xsd:enumeration value="RE"/>
			<xsd:enumeration value="RO"/>
			<xsd:enumeration value="RU"/>
			<xsd:enumeration value="RW"/>
			<xsd:enumeration value="SA"/>
			<xsd:enumeration value="SB"/>
			<xsd:enumeration value="SC"/>
			<xsd:enumeration value="SD"/>
			<xsd:enumeration value="SE"/>
			<xsd:enumeration value="SG"/>
			<xsd:enumeration value="SH"/>
			<xsd:enumeration value="SI"/>
			<xsd:enumeration value="SJ"/>
			<xsd:enumeration value="SK"/>
			<xsd:enumeration value="SL"/>
			<xsd:enumeration value="SM"/>
			<xsd:enumeration value="SN"/>
			<xsd:enumeration value="SO"/>
			<xsd:enumeration value="SR"/>
			<xsd:enumeration value="ST"/>
			<xsd:enumeration value="SV"/>
			<xsd:enumeration value="SY"/>
			<xsd:enumeration value="SZ"/>
			<xsd:enumeration value="TC"/>
			<xsd:enumeration value="TD"/>
			<xsd:enumeration value="TF"/>
			<xsd:enumeration value="TG"/>
			<xsd:enumeration value="TH"/>
			<xsd:enumeration value="TJ"/>
			<xsd:enumeration value="TK"/>
			<xsd:enumeration value="TL"/>
			<xsd:enumeration value="TM"/>
			<xsd:enumeration value="TN"/>
			<xsd:enumeration value="TO"/>
			<xsd:enumeration value="TR"/>
			<xsd:enumeration value="TT"/>
			<xsd:enumeration value="TV"/>
			<xsd:enumeration value="TW"/>
			<xsd:enumeration value="TZ"/>
			<xsd:enumeration value="UA"/>
			<xsd:enumeration value="UG"/>
			<xsd:enumeration value="UK"/>
			<xsd:enumeration value="UM"/>
			<xsd:enumeration value="US"/>
			<xsd:enumeration value="UY"/>
			<xsd:enumeration value="UZ"/>
			<xsd:enumeration value="VA"/>
			<xsd:enumeration value="VC"/>
			<xsd:enumeration value="VE"/>
			<xsd:enumeration value="VG"/>
			<xsd:enumeration value="VI"/>
			<xsd:enumeration value="VN"/>
			<xsd:enumeration value="VU"/>
			<xsd:enumeration value="WF"/>
			<xsd:enumeration value="WS"/>
			<xsd:enumeration value="YE"/>
			<xsd:enumeration value="YT"/>
			<xsd:enumeration value="ZA"/>
			<xsd:enumeration value="ZM"/>
			<xsd:enumeration value="ZW"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="addressType">
		<xsd:sequence>
			<xsd:element name="streetname" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="number" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numberExtension" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="property" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="city" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="postalCode" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="region" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="country" type="countryCodeType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
